<a href="{{config.wwwroot}}/auth/singpasslogin/login.php" class="btn btn-primary w-100 mb-3" style="background-color: #e60012; border-color: #e60012;">
    <i class="icon fa fa-id-card mr-2"></i> Log in with Singpass
</a>