<div id="block-courselinks" class="block-cards" data-region="course-links"
        data-displaycourse={{displaycourse}}">
    <div class=container-fluid">

    </div>
</div>

{{#js}} 
    require(['block_courselinks/main'], function(Main) {
        Main.init('#block-courselinks');
    });
{{/js}}